/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.top-text1{
  text-indent: 3em;
}
.top-text2{
  text-indent: 3em;
}
.top-link{
  text-indent: 3em;
}
.show-title{
  text-indent: 3em;
  padding-bottom: 30px;
}
.show-body{
  text-indent: 3em;
}
.notice{
  text-indent: 3em;
}
.btn-primary{
  color: grey;
}
.btn-primary:hover{
  background-color: black;
  color: white;
}
.btn:action{
  background-color: blue;
  color: white;
}
.bookers{
  font-size: 20px;
}